</body>
<footer id="bibliography">
<h1 class="footer-title">More Information</h1>
<ul class="bibliography-link__list">
          <li class="bibliography-item">
            <a
              id="bibliography-link"
              target="_blank"
              href="https://en.wikipedia.org/wiki/Tequila_sunrise_(cocktail)"
              >Tequila Sunrise cocktail Wikipedia entry</a
            >
          </li>
          <li class="bibliography-item">
            <a
              id="bibliography-link"
              target="_blank"
              href="https://eagles.com/releases/desperado"
              >"Desperado" album listing on Eagles Official Website</a
            >
          </li>
          <li class="bibliography-item">
            <a
              id="bibliography-link"
              target="_blank"
              href="https://www.imdb.com/title/tt0096244/?ref_=fn_al_tt_1"
              >The movie "Tequila Sunrise" at Internet Movie Database</a
            >
          </li>
          <li class="bibliography-item">
            <a
              id="bibliography-link"
              target="_blank"
              href="https://iba-world.com/tequila-sunrise/"
              >Tequila Sunrise cocktail recipe from International Bartenders
              Association</a
            >
          </li>
          <li class="bibliography-item">
            <a
              id="bibliography-link"
              target="_blank"
              href="https://cuervo.com/cocktail-recipes/tequila-sunrise-2/"
              >Tequila Sunrise cocktail recipe from Jose Cuervo</a
            >
          </li>
        </ul>
</footer>
  <script src="hamburgerMenu.js"></script>
</html>