<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="tequila_sunrise_favicon.ico" />
    <title>Tequila Sunrise (cocktail)</title>
  </head>
  <header>
    <nav class="navbar">
      <h1 class="nav-branding">Tequila Sunrise</h1>

      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="/origins">Origins</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/making-it">Making It</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/serving-it">Serving It</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/remixes">Remixes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/conversation-starters"
            >Conversation Starters</a
          >
        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>
  <body>
