<%- include("partials/header"); -%>
<main id="main-doc">
  <section id="conversation_starters" class="main-section">
    <header class="section-title">Conversation Starters</header>
    <ul class="conversation_starters-list">
      <li class="fact">
        <p>
          Did you know Jose Cuervo used the Tequila Sunrise to advertise their
          tequila in 1973? They put the drink recipe on the back of the bottles.
        </p>
      </li>
      <li class="fact">
        <p>
          Did you know the band Eagles recorded a song called "Tequila Sunrise"
          for their album, Desperado? It's fourth in the track list. Desperado,
          the band's second album, was released in 1973.
        </p>
      </li>
      <li class="fact">
        <p>
          Did you know there's a movie called "Tequila Sunrise"? It came out in
          1988, and starred Michelle Pfeiffer, Kurt Russell, and Mel Gibson. It
          was directed by Robert Towne. For Kurt Russell, it came out the year
          before "Tango & Cash" (1989). Mel Gibson was in this movie the year
          after he was in "Lethal Weapoon" (1987). Michelle Pfeiffer starred in
          this before "Batman Returns" (1992). After "Tequila Sunrise", Robert
          Towne would go on to write the movies "Days of Thunder" (1990), and
          "Mission: Impossible II" (2000).
        </p>
      </li>
    </ul>
  </section>
</main>
<%- include("partials/footer"); -%>
