<%- include("partials/header"); -%>
<main id="main-doc">
<section id="making_it" class="main-section">
        <header class="section-title">Making It</header>
        <div class="making_it-introduction">
          <p>
            To make a Tequila Sunrise cocktail, you just need tequila, orange
            juice, and grenadine syrup. Tequila can be found in a liquor store.
            Grenadine syrup can be found in a grocery store as a mixer. The
            mixers are usually by the soda or soft drinks. Not many liquor
            stores carry mixers. Orange juice can be found in a grocery store,
            gas station, or market.
          </p>
        </div>
        <ol class="making_it-instructions">
          <li>
            Grab a clean <code>glass,</code> and put it on a counter, or table.
          </li>
          <br />
          <li>Add <code>ice</code> in the glass.</li>
          <br />
          <li>
            Pour the <code>tequila</code> straight from the bottle into the
            glass. Count to three. One. Two. Three. Stop pouring.
          </li>
          <br />
          <li>
            Pour <code>orange juice</code> from its container into the glass.
            You can pour as much orange juice as you want.
          </li>
          <br />
          <li>
            Pour the <code>grenadine syrup</code> from the bottle into the
            glass. Count to two. One. Two. Stop pouring. <br> If a three-count or
            four-count is done while pouring the grenadine syrup, the cocktail
            will become too sweet, and the sunset effect will be lost.
          </li>
          <br />
          <li>
            Take a couple of breaths, and let the grenadine syrup float to the
            bottom. <br> The colors in the glass should start looking like a sunset.
          </li>
          <br />
          <li>Do not stir nor shake the glass.</li>
          <br />
          <li>
            Be sure to put the tequila, orange juice, and grenadine syrup back
            in the refrigerator.
          </li>
        </ol>
      </section>
</main>
<%- include("partials/footer"); -%>