<%- include("partials/header"); -%>
<main id="main-doc">
      <section id="origins" class="main-section">
        <header class="section-title">Origins</header>
        <div class="origin-text">
          <p>
            The modern drink originates from Sausalito, California, in the early
            1970s after an earlier one created in the 1930s in Phoenix, Arizona.
            The cocktail is named for its appearance when served—with shadings
            of colors resembling a sunrise.
          </p>
        </div>
        <div class="origin-text">
          <p>
            The original Tequila Sunrise was created by Gene Sulit in the 1930s
            or 1940s.and contained tequila, creme de cassis, lime juice, and
            soda water. It was served at the Arizona Biltmore Hotel.
          </p>
        </div>
        <div class="origin-text">
          <p>
            The more popular modern version of the cocktail contains tequila,
            orange juice, and grenadine, and was created by Bobby Lozoff and
            Billy Rice in the early 1970s while working as young bartenders at
            the Trident in Sausalito, California. At the time, the Trident was
            the largest outlet for tequila in the United States.
          </p>
        </div>
        <div class="origin-text">
          <p>
            In 1972, there was a private party at the Trident to kick off the
            Rolling Stones' American tour. Lead singer Mick Jagger had one of
            the cocktails, liked it, and he and his entourage started drinking
            them. The Stones later ordered them all across America, even dubbing
            the tour itself their "cocaine and tequila sunrise tour".
          </p>
        </div>
      </section>
</main>
<%- include("partials/footer"); -%>