<%- include("partials/header"); -%>
<main id="main-doc">
      <section id="remixes" class="main-section">
        <header class="section-title">Remixes</header>
        <div class="remixes-introduction">
          <p>
            Mixologists, scientists, and bartenders over the years have come up
            with variations of a classic. Listed below are just a few of them.
          </p>
        </div>
        <ul class="remixes-list">
          <li class="remix_item">
            <span>Tequila Sunset</span> – substitute blackberry brandy, or dark
            rum, for grenadine syrup.
          </li>
          <li class="remix_item"></li>
            <span>Vodka (or Russian) Sunrise</span> – use vodka instead of
            tequila.
          </li>
          <li class="remix_item"></li>
            <span>Panama Sunrise</span> – use pineapple juice instead of orange
            juice.
          </li>
          <li class="remix_item"></li>
            <span>Red Sea Sunrise</span> – non-alcoholic version. Use lemonade
            or Sprite instead of tequila
          </li>
          <li class="remix_item"></li>
            <span>Colorado Sunrise</span> – use Captain Morgan brand rum and Sunny Delight brand orange drink instead of tequila and orange juice.
          </li>
        </ul>
      </section>
</main>
<%- include("partials/footer"); -%>