<%- include("partials/header"); -%>
<main id="main-doc">
      <section id="serving_it" class="main-section">
        <header class="section-title">Serving It</header>
        <div class="serving_suggestions">
          <p>
            A tequila sunrise is usually served in a high ball glass to really
            show off those gorgeous colors. It can be garnished with half orange
            slice, an orange zest, or any other fruit like a cherry. A straw is
            optional, just be sure not to accidentally stir the drink. Remember,
            it won't just lose that sunset effect. It will taste really sweet.
          </p>
        </div>
        <div id="img">
          <div><img
            id="highball-img"
            src="Tequila-Sunrise-highball.jpg"
            alt="Tequila Sunrise in a highball glass"
          /></div>
          <div><img
            id="garnished-img"
            src="Tequila-Sunrise-garnished.jpg"
            alt="Tequila Sunrise garnished with fruit"
          />
        </div>
        </div>
      </section>
</main>
<%- include("partials/footer"); -%>